{% extends 'base.html' %}
{% block body %}

<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2 class="glyphicon glyphicon-ok"> Reserva Activada con Exito</h2>               
            </div>
        </div>
         <hr />
         <button type="button" class="btn btn-success"> <a class="glyphicon glyphicon-backward" href="/reservas/reservas/" style="text-decoration: none ; color: #ffffff;">Volver</a></button>  
       <div class="row">
        <div class="col-md-12">
           
            <div class="panel panel-default">
                <div class="panel-body">
                    
                     
                    <div class="col-md-12">
                      
                        
                  
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

{% endblock %}