{% extends 'base.html' %}
{% block body %}
 <script type="text/javascript">
    function ConfirmDelete()
    {
        var res = confirm("¿eliminar de Forma Permanente?");
        if (res == true)
        {
            return true;
        }
        else{
            return false;
        }


    }   
     function resultado(){
        alert("categoria restaurada con exito");
     }
 </script>
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2 class="glyphicon glyphicon-ok"> Restaurar Habitaciones</h2>               
            </div>
        </div>
         <hr />
       <div class="row">
        <div class="col-md-12">
           
            <div class="col-md-11">
                <table class="table table-sm">
                  <div class="panel-heading" style="background: #6495ed ; color: #ffffff; text-align: right;">
                    <button type="button" class="btn btn-success"><a class="glyphicon glyphicon-step-backward" href="/habitaciones/vistaHabi" style="text-decoration: none ; color: #ffffff;"> Volver</a></button>

               </div>
                <thead>
                  <tr bgcolor="#DCDCDC">
                    
                    <th scope="col">Codigo</th>
                    <th scope="col">numero</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Restaurar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for h in papelerah %}
                    <tr>
                    <td >{{h.id_num_habitaciones}}</td>
                    <td >{{h.numero_habitacion}}</td>
                   
                    <td> {{h.id_categoria.nombre_c}}</td>
                   
                 
                    <td><div>
                                          
                        <a class="glyphicon glyphicon-refresh" href="/habitaciones/restaurarh/{{h.id_num_habitaciones}}" onclick="resultado()"></a></button>
                    </div></td>
                    <td><div>
                      
                        <a class="glyphicon glyphicon-trash" href="/habitaciones/eliminarh/{{h.id_num_habitaciones}}" onclick="return ConfirmDelete()"></a></button>
                    </div></td>
                   </tr> 
                   </tr> 
                {% endfor %}
                </tbody>
              </table>
             
            </div>
                 
                               

{% endblock %}


