{% extends 'assets/base.html' %}

{% block osvell %}

<div id="page-wrapper" >
    {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </div>         
        {% endfor %}
    {% endif %}    
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
         <h2>Dashboard <small>(Huespedes)</small></h2>                  
        </div>
    </div>
     <hr />

<div class="row">
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #6495ed ; color: #ffffff; text-align: right;">
                Agregar Huesped <button type="button" class="btn btn-success"><a href="{% url 'registrarHuesped' %}" style="color: #ffffff;">+</a></button>

            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Direccion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in clientes %}
                                <tr>
                                <td>{{c.Cedula}}</td>
                                <td>{{c.Nombre.title}}</td>
                                <td>{{c.Apellido.title}}</td>
                                <td>{{c.Telefono}}</td>
                                <td>{{c.Correo}}</td>
                                <td>{{c.Direccion}}</th>
                                <td><div>
                                    <button type="button" class="btn btn-warning"><a href="{% url 'actualizarCliente' c.id %}" style="text-decoration: none; color: #ffffff ;"><i class="fas fa-sync-alt"></i></a></button>
                                    <button type="button" class="btn btn-danger btnEliminacion"><a href="{% url 'eliminar' c.id %}" style="text-decoration: none; color: #ffffff ;"><i class="fas fa-trash-alt"></i></a></button>
                                </div></td>
                               </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div><hr>                    
            </div>
        </div>
    </div>
</div>       
</div>
</div>

{% endblock %}