{% extends 'assets/base.html' %}

{% block osvell %}

{% load crispy_forms_filters %} 
{% load crispy_forms_tags %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                 <h2>Actualizar Huesped <small>(administracion)</small></h2>                  
                </div>
            </div>
             <hr />
           <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" action="" method="post">
                                    {% csrf_token %}
                                    {{clientes | crispy}} <br>
                                    <input type="submit" class="btn btn-success btn-lg" value="Actualizar Usuario">
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    
{% endblock %}
